body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: wheat;
}
h1{
    position: absolute;
    top: 130px;
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 2px rgb(37, 36, 36);
}
form{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    /* border-top: 0; */
    background-color: #faebd7;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black ;
}
form>div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
input{
    height: 20px;
    width: 400px;
    border: 0;

}

.placeholder{
    position: absolute;
    padding-left: 10px;
}
a{
    text-decoration: none;
    margin-top: -10px;
    margin-left: 130px;
}
input[type=submit]{
    background-color: orange;
    margin-top: 20px;

    height: 30px;
}
.login{
    margin-top: -100px;
    height: 200px;
    width: 200px;
}